#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #999;
}
header {
    background-color: skyblue;
}
nav a:hover {
    background-color: skyblue;
    color: black;
}
.book{
    background-color: #d4b158;
    color: rgb(42, 31, 1);
    text-decoration: none;
}
.join {
    background-color: #d4b158;
    color: rgb(59, 43, 2);
    text-decoration: none;
}
.book:hover {
    background-color: skyblue;
    color: beige;
}
.join:hover {
    background-color: skyblue;
    color: beige;
}
#background {
    background-color: beige;
}
.msg {
    background-color: skyblue;
}
.msg h2 {
    background-color: skyblue;
    color: beige;
}
.msg p {
    color: white;
}
footer h3 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer {
    background-color: skyblue;
}
footer p {
    text-size-adjust: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 0 auto;
}