@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto&display=swap');

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #2e5c51 ;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 35px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    margin-bottom: 100PX;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
    color: #325e00
}
.home-title{
    font-family:"Calistoga", Arial;
    font-size: 6em;
    margin-top: 10px;
}
#hero-msg h4 {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 98%;
}
h2{
    font-family: "Roboto", Arial;
    margin: 0;
}
main section{
    text-align: center;
}
.button-box {
    text-align: center;
}
.contactus{
    background-color: #638041;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.contactus:hover {
    margin-bottom: 10px;
    background-color: #2e5c51;
    color: beige;
}

.container{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.first {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 10px;
}
.second {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 4px;
    background-color: #638041;
}
.webconnection {
    width: 100%;
}
.msg {
    grid-column: 2/8;
}
.msg h2 {
    color: beige;
    font-size: 10em;
}
.msg p {
    color: white;
    font-size: 2em;
    
}

footer {
    background-color: #2e5c51;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    text-size-adjust: 80%;
}
footer p a:hover {
    text-decoration: underline;
}
footer.social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding: 10px;
}
footer h3 {
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid, .container{
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    footer {
        margin-top: 25px;
    }
}


